<p><%= @said %></p>
<p><%= @answer %></p>
<!-- <a href="ask" class="btns orange">Go back</a>

<a href="/cities.html" class="btn btn-primary">Where can you find us</a> -->
<a href="ask"><button class="button">Go back</button></a>
